<div class="container-fluid">
	<h2>Frequently asked questions</h2>
	<h4>First question?</h4>
	<p>First answer.</p>
	<h4>Second question?</h4>
	<p>Second answer.</p>
	<h4>Third question?</h4>
	<p>Third answer.</p>
	<h4>Fourth question?</h4>
	<p>Fourth answer.</p>
</div>