<% content_for :head do %>
    <%= render partial: "layouts/mapJS" %>
<% end %>

<div class="filter_button">
  <button onclick="filter()">Filter Events</button>
</div>

<div id="filter">
  <form id="frm1" action="form_action.asp">
    Address: <input type="text" id="address"><br>
    Radius: <input type="number" min="0" step="1" id="radius"><br><br>
    <!-- Tag -->
    <select id="tag">
      <option value="">All Tags</option>
    	<%= @event_tags.each do |event| %>
    		<option value=<%=event.id%>><%=event.tag_name%></option>
    	<% end %>
    </select>

    Time: <input type="number" min="0" step="1" id="time"><br><br>
    <input type="button" onclick="grab_values()" value="Submit">
  </form>
</div>

<script>
  var bool = false;
	function filter() {
	    bool = !bool;
      if(bool) {
        document.getElementById("filter").style.visibility = "hidden";
      } else {
        document.getElementById("filter").style.visibility = "visible"; 
      }
	}
</script>

<div id="map-wrapper">
    <div id = 'mapdiv'></div><!-- Id needs to be 'mapdiv' for javascript to work -->
</div>
