<div class="container-fluid about">
	<div class="container">
		<h2>About PINPOINT</h2>
		<h3>Vision</h3>
		<p>As far as the millennial phenomenon goes, ‘social’ networking is anything but. Obviously, you can meet the love of your life on Tinder, connect with old friends and make new ones on Facebook, or interact with celebrities on Twitter, but how many of these interactions ever make it past the screen of a phone or the monitor of a computer? The market is saturated with social media that allows people to connect but only as far as the click of a mouse or the tap of a finger can reach. There exists a very real and evident need for a social network that provides a means of immediate, real-world interaction with new people. The goal of the app is to provide just that.</p>
		<h3>Mission Statement</h3>
		<p>The app is meant to be part-advertising flyer aggregator, part-social network. Imagine moving to a big city where you do not know anyone. How do you meet new people? What if you are hosting a pickup basketball game and needed some more people to come play? What if you are having a garage sale and want interested customers to come by and take a look. The app is meant to be a resource that connects people who are interested in meeting new people</p>
		<h3>Contact Information</h3>
		<p>Phone: (555) 555-5555</p>
		<p>Email: email@pinpoint.biz</p>
	</div>
</div>