// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map-wrapper {
    position:relative;
    height: 100%;
    width: 100%;
    
    #mapdiv {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index:0;
    }
    #over_map { 
        position: absolute; 
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 99; 
    }
}
.event_display{
    min-width: 450px;
    margin:5px;
    padding:5px;
    display: inline-block;
    background-color: gray;
    color: #b30000;
    border-radius: 10px;
    text-align: center;
    small{
        color:#780000;
    }
}

#filter {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #cccccc;
}

.filter_button {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 120px;
}

.panel {
    margin-top: 10px;   
}